.panel-heading
  =@conversation.subject
.messages
  = @conversation.receipts_for(current_mentee).each do |m|
    - message = m.message
    - read = m.is_unread?
    = message.sender.name
    = "says at #{message.created_at.strftime("%-d %B %Y, %H:%M:%S")}"
    = message.body
  end

= form_tag reply_conversation_path(@conversation), method: :post do
  .form-group
    = text_area_tag 'body', nil, cols: 3, class: 'form-control', placeholder: 'Type something...', required: true
  = submit_tag "Send Message", class: 'btn btn-primary'
