%h1
  = "#{@mentee.name}'s Dashboard"
- if @incomplete_surveys.any?
  %h2
    = "You have incomplete surveys"
  %br
  =	link_to "Please Complete Your Surveys", mentee_list_surveys_path, :class => "btn btn-danger"
- else
  %h2
    = 'You have completed all your surveys'
  %br
  = link_to "View Your Answers", mentee_list_surveys_path, :class => "btn btn-primary"

%h2
  Conversations
  = link_to "Your Conversations", conversations_path, :class => "btn btn-primary"
