.navbar.navbar-inverse.navbar-fixed-top
  .container
    = link_to "Merit Portal", root_path, :id => "logo"
    %ul.nav.navbar-nav.navbar-right
      -#%li= link_to "Create Link", new_shortened_link_path, :class=> "create"
      -if mentee_signed_in?
        %li
          %li= link_to "Edit account", edit_mentee_registration_path, :class => "edit-account"
          %li= link_to "Logout", destroy_mentee_session_path, :method => "delete", :class => "logout"
      -if mentor_signed_in?
        %li
          %li= link_to "Edit account", edit_mentor_registration_path, :class => "edit-account"
          %li= link_to "Logout", destroy_mentor_session_path, :method => "delete", :class => "logout"
      -if !mentor_signed_in? && !mentee_signed_in?
        %li
          %li= link_to "Mentor Login", new_mentor_session_path, :class => 'login'
          %li= link_to "Mentee Login", new_mentee_session_path, :class => 'login'
          -#%li= link_to "Sign up", new_mentee_registration_path, :class => 'signup'
